@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&display=swap');

*{
    margin: 0;
}

main {
    width: 100%;
    height: auto;
    float: left;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;

}

.titulo{
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    margin-top: 20px;
}

.rojoletra{
    font-size: 60px;
    color: #cb0c0c;
    font-family: "Great Vibes", cursive;
}

#imgcab{
    width: 100%;
    height: 250px;
    float: left;
}

section{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom:  5px;
    text-align: center;
}

.arreglo{
    font-size: 20px;
    text-align: center;
}
